<header>
    <nav>
        <ul>
            <li><a href=""><img class="aimg" src="https://picsum.photos/50/50" alt=""></a></li>
            <li><div class="search-container"><input type="search" placeholder="Search..."></div></li>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login / Signup</a></li>
            <li><a href="/service-categories">Service Categories</a></li>
        </ul>
    </nav>
</header>