<div class="Left-sidebar">
    <div class="side">
        <a href="/professional-dashboard"><img src="/images/logo.svg" class="svg" alt=""> HireHive</a>
    </div>
    <div class="side">
        <a href="/professional-dashboard"><img src="/images/dashboard.svg" class="svg" alt=""> Dashboard</a>
    </div>
    <div class="side">
        <a href="/requests"><img class="svg" src="/images/request.svg" alt=""> Requests</a>
    </div>
    <div class="side">
        <a href="/review"><img class="svg" src="/images/review.svg" alt=""> Review</a>
    </div>
    <div class="side">
        <a href="/about"><img class="svg" src="/images/about.svg" alt=""> About</a>
    </div>
    <div class="side">
        <a href="/logout"><img class="svg" src="/images/logout.svg" alt=""> Logout</a>
    </div>
</div>