<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/professional.css">
</head>
<body>
    <div class="main-container">
        <%- include('partials/sidenav.ejs') %>
        <div class="Right-container" style="display: flex; align-items: center; flex-direction: column;">
          <center><h1>About</h1></center>
          <div class="aboutp">
            <p>HireHive: About Us
            Connecting You with Local Talent
            HireHive is a web application revolutionizing the way people connect with skilled professionals in their area. We understand the challenges of finding reliable and qualified talent, especially for local needs. That's why we created a platform that streamlines the hiring process, fostering swift and dependable connections between clients and local professionals.
            Our Mission
            Our mission is to empower local communities by building a bridge between individuals and businesses seeking skilled professionals, and the talented individuals residing within their neighborhoods. We believe in fostering a strong local economy by creating a platform that prioritizes nearby talent.
            How We Do It
            HireHive offers a user-friendly experience that caters to both clients and professionals.
             * For Clients: Easily search for pre-vetted professionals in your area based on specific skills, experience, and budget.
             * For Professionals: Showcase your expertise, build your online presence, and connect directly with potential clients seeking your services.
            Our Focus
             * Local Expertise: We prioritize connecting clients with professionals who understand the local landscape and its nuances.
             * Streamlined Communication:  Our built-in messaging system facilitates direct communication, ensuring a smooth hiring process.
             * Verified Professionals:  We strive to maintain a high standard of quality by offering optional professional verification features.
             * Community Building: We foster a community where local professionals can network and collaborate.
            Join the HireHive Community
            HireHive is more than just a hiring platform; it's a community that values local talent and efficient connections. Whether you're a client seeking skilled professionals or a talented individual looking to showcase your expertise, HireHive is here to connect you with the right people.
            Sign up today and experience the future of local hiring!</p>
          </div>
          
        </div>
     </div>
</body>
</html>