<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Categories - LocalPro</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <section id="service-categories" class="content-section services-content">
            <h2>Service Categories</h2>
              <h1>Home Cleaning</h1>
            <div class="homeCleaning">
                <div class="home-clean">
                    <img src="https://picsum.photos/200/200" alt="">
                    <h4>Home cleaning</h4>
                    <p>Itachi Uchiha</p>
                    <p>⭐4.5</p>
                    <p>₹500</p>
                </div>
                <div class="home-clean">
                    <img src="https://picsum.photos/200/200" alt="">
                    <h4>Home cleaning</h4>
                    <p>Itachi Uchiha</p>
                    <p>⭐4.5</p>
                    <p>₹500</p>
                </div><div class="home-clean">
                    <img src="https://picsum.photos/200/200" alt="">
                    <h4>Home cleaning</h4>
                    <p>Itachi Uchiha</p>
                    <p>⭐4.5</p>
                    <p>₹500</p>
                </div><div class="home-clean">
                    <img src="https://picsum.photos/200/200" alt="">
                    <h4>Home cleaning</h4>
                    <p>Itachi Uchiha</p>
                    <p>⭐4.5</p>
                    <p>₹500</p>
                </div>
                
            </div>
            <h1>plumbing</h1>
            <div class="homeCleaning">
                <div class="home-clean">
                    <img src="https://picsum.photos/200/200" alt="">
                    <h4>Home cleaning</h4>
                    <p>Itachi Uchiha</p>
                    <p>⭐4.5</p>
                    <p>₹500</p>
                </div>
                <div class="home-clean">
                    <img src="https://picsum.photos/200/200" alt="">
                    <h4>Home cleaning</h4>
                    <p>Itachi Uchiha</p>
                    <p>⭐4.5</p>
                    <p>₹500</p>
                </div><div class="home-clean">
                    <img src="https://picsum.photos/200/200" alt="">
                    <h4>Home cleaning</h4>
                    <p>Itachi Uchiha</p>
                    <p>⭐4.5</p>
                    <p>₹500</p>
                </div><div class="home-clean">
                    <img src="https://picsum.photos/200/200" alt="">
                    <h4>Home cleaning</h4>
                    <p>Itachi Uchiha</p>
                    <p>⭐4.5</p>
                    <p>₹500</p>
                </div>
                
            </div>
          
                <h1>Electricians</h1>
                <div class="homeCleaning">
                    <div class="home-clean">
                        <img src="https://picsum.photos/200/200" alt="">
                        <h4>Home cleaning</h4>
                        <p>Itachi Uchiha</p>
                        <p>⭐4.5</p>
                        <p>₹500</p>
                    </div>
                    <div class="home-clean">
                        <img src="https://picsum.photos/200/200" alt="">
                        <h4>Home cleaning</h4>
                        <p>Itachi Uchiha</p>
                        <p>⭐4.5</p>
                        <p>₹500</p>
                    </div><div class="home-clean">
                        <img src="https://picsum.photos/200/200" alt="">
                        <h4>Home cleaning</h4>
                        <p>Itachi Uchiha</p>
                        <p>⭐4.5</p>
                        <p>₹500</p>
                    </div><div class="home-clean">
                        <img src="https://picsum.photos/200/200" alt="">
                        <h4>Home cleaning</h4>
                        <p>Itachi Uchiha</p>
                        <p>⭐4.5</p>
                        <p>₹500</p>
                    </div>
                    
                </div>
                <h1>Tutors</h1>
                <div class="homeCleaning">
                    <div class="home-clean">
                        <img src="https://picsum.photos/200/200" alt="">
                        <h4>Home cleaning</h4>
                        <p>Itachi Uchiha</p>
                        <p>⭐4.5</p>
                        <p>₹500</p>
                    </div>
                    <div class="home-clean">
                        <img src="https://picsum.photos/200/200" alt="">
                        <h4>Home cleaning</h4>
                        <p>Itachi Uchiha</p>
                        <p>⭐4.5</p>
                        <p>₹500</p>
                    </div><div class="home-clean">
                        <img src="https://picsum.photos/200/200" alt="">
                        <h4>Home cleaning</h4>
                        <p>Itachi Uchiha</p>
                        <p>⭐4.5</p>
                        <p>₹500</p>
                    </div><div class="home-clean">
                        <img src="https://picsum.photos/200/200" alt="">
                        <h4>Home cleaning</h4>
                        <p>Itachi Uchiha</p>
                        <p>⭐4.5</p>
                        <p>₹500</p>
                    </div>
                    
                </div>
                
        </section>
    </main>
</body>
</html>
